<body>
<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Teste Index</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img/>
      <ion-card-header>
        <ion-card-subtitle>Jeudi 03</ion-card-subtitle>
        <ion-card-title>Découverte de B4S</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Presentation et recherche sur les Techno Angular
      </ion-card-content>
    </ion-card>


    <ion-card>
      <img />
      <ion-card-header>
        <ion-card-subtitle>Vendredi 04</ion-card-subtitle>
        <ion-card-title>La chandeleur</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Crepes parties, avec tous le Monde !!!!!!!
      </ion-card-content>
    </ion-card>
  </ion-content>




</ion-app>



</body>
